.order
    // height: 100vh
    background-image: url("../../assets/images/orderPage/back-d_order.jpg")
    padding: 100px 0
    background-repeat: no-repeat
    background-size: cover
    h5
        color: #FAFAFA
        text-align: center
        font-family: Roboto
        font-size: 40px
        font-style: normal
        font-weight: 700
        line-height: normal
    i
        display: block
        color: #FAFAFA
        text-align: center
        font-family: Roboto
        font-size: 16px
        font-style: normal
        font-weight: 400
        line-height: 24px
        margin: 10px 0 20px
    .order__inner
        width: 750px
        margin: 0 auto
        .order__services
            display: flex
            justify-content: center
            gap: 30px
   

        
