.sendTitle {
  display: block;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}

.blockForSend {
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #FAFAFA;
  width: 350px;
  height: 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 12px;
}
.blockForSend p {
  overflow: hidden;
  color: #151515;
  text-overflow: ellipsis;
  whitespace: nowrap;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.blockForSend input {
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  z-index: 1;
}
.blockForSend button {
  position: absolute;
  z-index: 5;
  right: -1px;
  top: -1px;
  width: 107px;
  height: 40px;
  border-radius: 0 6px 6px 0;
  border: none;
  cursor: pointer;
  background-color: #929292;
  overflow: hidden;
  color: #FAFAFA;
  text-overflow: ellipsis;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.blockForSend .activeBtn {
  background-color: #007E1D;
}

.badInput {
  background: #F00 !important;
}

.linksBlock {
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--background, #FAFAFA);
  width: 350px;
  height: 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.linksBlock .linksInput {
  width: 350px;
  height: 40px;
  background-color: #fafafa;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 10px;
  font-size: 18px;
  left: 0 !important;
}