.advantages {
  padding: 60px 0;
}
.advantages .advantages__inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin: 40px 0 80px 0;
}
.advantages .advantages__inner ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  gap: 16px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 500px;
}
.advantages .advantages__inner ul li > div:nth-child(1) {
  height: 62px;
  width: 62px;
  background: #007E1D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.advantages .advantages__inner ul li > div:nth-child(1) span {
  display: block;
  color: #FAFAFA;
  font-family: Roboto;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  border-bottom: 3px solid #fff;
  width: 80%;
  margin: 0 auto;
}
.advantages .advantages__inner ul li h3 {
  color: #151515;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 5px;
}
.advantages .advantages__inner ul li p {
  color: #151515;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.advantages .lineBlock {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 1px;
  margin: 60px 0px;
}