* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
}
.standartBtn {
  color: #fafafa;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #007e1d;
  padding: 16px 30px;
  border-radius: 8px;
  border: none;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
