.offers {
  padding: 60px 0;
}
.offers .offers__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  padding: 20px 0;
}
.offers .offers__inner > div {
  width: 340px;
  height: 316px;
  border-radius: 6px;
  border: 1px solid #DEDEDE;
  cursor: pointer;
  padding: 0 0 20px 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  overflow: hidden;
  text-overflow: ellipsis;
}
.offers .offers__inner > div > div {
  width: 100%;
  height: 150px;
  border-radius: 6px 6px 0 0;
}
.offers .offers__inner > div > div img {
  border-radius: 6px 6px 0 0;
}
.offers .offers__inner > div h4 {
  margin: 12px 0 5px 0;
  color: #151515;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0 12px;
}
.offers .offers__inner > div p {
  overflow: hidden;
  color: #646464;
  text-overflow: ellipsis;
  whitespace: nowrap;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 12px;
  height: 95px;
}
.offers .offers__inner > div:hover {
  height: 360px;
}
.offers .offers__inner > div:hover .activeP {
  height: auto;
}